body{
  background: green;
  border-style: solid;
  border-color: red;
}

h1 {
  text-align: center;
  color: Blue;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.p {
	text-align: center;
	color: yellow;
  font-family: "Times New Roman", Times, serif;
}